@namespace Memory_Card_Game.Game
@page "/"

    <div class="text-center">

        <h1>Memory Card Game</h1>

    @for (int y = 0; y < game.cards.GetLength(1); y++)
    {
        @for (int x = 0; x < game.cards.GetLength(0); x++)
        {
            <button
                    class="btn btn-primary"
                    style="background-color: @game.cards[x, y].Color"
                    @onclick=@game.cards[x, y].Click>[ ]</button>
        }
        <br />
    }

    </div>

@code
{
    CardGame game = new CardGame(5, 4);
}
